<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kurir.sicepat" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gaji Kurir</name>
    <description>Aplikasi Perhitungan Gaji Kurir SiCepat</description>
    <author email="dev@example.com">Rendy Galang</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />

    <!-- Pengaturan Logo / Icon Utama Aplikasi HP -->
    <icon src="www/logo.png" />
</widget>
